#editors-container { 
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 30%;
    left: 0;
}

.tab-panel {
    height : 30px;
    font-family: Arial;
    font-size : 13px;
    background : #FAFAFA;
}

.tab-item {
    cursor: pointer;
    float : left;
    color: white;
    line-height: 30px;
    padding : 0 10px;
    border-width : 0 1px 0 0;
    border-color : lightgrey;
    border-style : solid;
    background : #646464;
}

.general-message-container {
    float:left;
    margin-left : 30px;
    line-height: 30px;
    font-weight: bold;
}

.error {
    color : red;
}

.tab-item:hover {
    text-decoration : underline;
}

.tab-item.tab-selected {
    background : #323232;   
}

.tab-item.tab-error {
    background : rgb(200,30,0);   
}

#multi-editor { 
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}

#data-editor { 
    position: absolute;
    top: 70%;
    right: 50%;
    bottom: 0;
    left: 0;
}

#preview {
    position: absolute;
    top: 0;
    left: 50%;
    width : 50%;
    height:100%;
    border:none;
}

#error-container-main {
    top : 50px;
    background : white;
    color : red;
}

#error-container-data {
    top : 75%;
    background : #333;
    color : red;
}

.error-container {
    position : fixed;
    right : 52%;
    width : 25%;
    padding: 10px;

    font-family : Consolas, Lucida Console, monospace;
    font-size : 12px;

    z-index: 100;
    opacity : 0;
    -webkit-transition : opacity 0.5s;
}

.error-displayed {
    opacity: 1;
}