body {
    margin : 0;
	padding : 0;
    font-family : "Lucida Console", Monaco, monospace;
}

.main, .preview {
    position : fixed;
    top : 0;
    bottom:0
}
.main {
    left : 0;
    right:30%;
}
.preview {
    left : 70%;
    right:0;
    padding-left:1px;
}

.head, .content {
    width : 100%;
    background:grey;
    position : absolute;
}

.head {
    height : 60px;
    line-height: 60px;
    box-shadow : 0 0px 4px black;
    z-index:20;
}

.head-matches-title {
    text-indent : 20px;
    color:white;
    font-size:18px;
}

.content-wrapper {
	position : relative;
	margin : 0 60px;
	height : 60px;
}

.head .head-logo {
    float: left;
    font-size:32px;
    font-weight:bold;
    color:white;
    text-shadow : 0 -1px 0 black;
    width: 60px;
    text-align: center;
    height: 60px;
}

.head .head-button {
    float : right;
    width:60px;
}
.content {
    top:60px;
    background:#353637;
    bottom : 0;
}

#text-editor {
}

#matches-list {
    color : white;
    line-height: 20px;
    overflow: auto;
}

#matches-list ul {
    list-style: none;
    padding : 0;
    margin:0;
}

#matches-list li {
    padding:10px;
    color:white;
    font-size:12px;
    font-weight:normal;
    border-bottom: 1px Solid grey;
    cursor:pointer;
}

#matches-list li .matched-group {
    border : 1px dotted grey;
    margin-right : 5px;
    padding : 0 2px;
    color : cyan;
}

#matches-list li .matched-string {
    color : wheat;
}

#regexp-input {
    background: white;
	margin: 0;
	padding: 0 10px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	border: none;
    color : grey;
	font-size: 28px;
	outline:none;
    -webkit-transition : box-shadow 0.3s;
    -moz-transition : box-shadow 0.3s;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: lightgrey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: lightgrey;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: lightgrey;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: lightgrey;
}

#regexp-input:focus {
    box-shadow : inset 0 0px 2px 2px grey;
}

#regexp-input.input-error {
    box-shadow : inset 0 0px 2px 2px rgb(218, 0, 0);
}