#editors-container { 
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 30%;
    left: 0;
}

.tab-panel {
    height : 30px;
    font-family: Arial;
    font-size : 13px;
    background : #FAFAFA;
}

.tab-item {
    cursor: pointer;
    float : left;
    position: relative;
    color: white;
    line-height: 30px;
    padding : 0 10px;
    border-width : 0 1px 0 0;
    border-color : lightgrey;
    border-style : solid;
    background : #646464;
}

.tab-button {
    background: rgb(0,133,255);
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin: 3px;
    border-radius: 3px;
    text-shadow: 0px -1px 0px blue;
    font-weight: bold;
}

.tab-item-right {
    float : right;
}

.tab-list {
    position : absolute;
    background:rgb(0,133,255);
    font-weight: bold;
    color : white;
    top : 100%;
    z-index : 200;
    padding-right: 20px;
}

.tab-list ul {
    padding-left : 20px;
}

.tab-list a:link, .tab-list a:visited, .tab-list a:active, .tab-list a:hover {
    color : white;
}
.tab-list-right {
    right : 0;
}

.tab-list-left {
    left : 0;
}

.general-message-container {
    float:left;
    margin-left : 30px;
    line-height: 30px;
    font-weight: bold;
}

.error {
    color : red;
}

.tab-item:hover {
    text-decoration : underline;
}

.tab-item.tab-selected {
    background : #323232;   
}

.tab-item.tab-selected.tab-error {
    background : rgb(240,60,60);
}

.tab-item.tab-error {
    background : rgb(200,30,0);   
}

#multi-editor { 
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}

#data-editor { 
    position: absolute;
    top: 70%;
    right: 50%;
    bottom: 0;
    left: 0;
}

#preview {
    position: absolute;
    top: 0;
    left: 50%;
    width : 50%;
    height:100%;
    border:none;
}

#error-container-main {
    top : 50px;
    background : white;
    color : red;
}

#error-container-data {
    top : 75%;
    background : #333;
    color : rgb(255, 100, 100);
}

.error-container {
    position : fixed;
    right : 52%;
    padding: 10px;

    font-family : Consolas, Lucida Console, monospace;
    font-size : 12px;

    z-index: 100;
    display : none;
}

.error-displayed {
    display : block;
}

.tooltip {
    position : fixed;
    border-radius: 3px;
    background : black;
    opacity : 0.8;
    color : rgb(250,50,0);
    padding : 10px;
    width : 300px;
    font-family : Courier;
    font-size : 12px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    z-index: 100;
}